<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

 

 
<form action="">
    <label for="userName">User Name</label>
    <input class="form-control" type="text" name="userName" id="userName" placeholder="User Name...">

    <label for="email">Email</label>
    <input class="form-control" type="email" name="email" id="email" placeholder="Email...">

    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" id="password" placeholder="Password...">

    <label for="repeat-password">Repeat Password</label>
    <input class="form-control" type="password" name="repeat-password" id="repeat-password" placeholder="Repeat Password...">

    <label for="recieveEmails">Receive emails?</label>
    <input type="checkbox" name="recieveEmails" id="recieveEmails" value="Yes">

    <input type="submit" value="Send..." class="btn btn-success">
</form>