<p id="myParagraph">Hello, JS</p>


<input id="num1" type="text" placeholder="num1...">
<br>
<input id="num2" type="text" placeholder="num2...">
<br>

<div id="myBtn" class="btn btn-primary">Click me</div>

<table class="table table-striped">
{{#each arr}}
<tr>
   <td>{{vendor}}</td>
   <td>{{model}}</td>
   <td>{{color}}</td>
</tr>
{{/each}}
</table>


<img width="200" height="200" src="http://api.androidhive.info/json/movies/1.jpg">
